﻿﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<ul id="nav" class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {


        <li class="nav-item hover-text">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><font class="hover-text" color="White">Dashboard</font> </a>
        </li>


        <li class="nav-item hover-text">
            <a class="nav-link text-dark" asp-area="" asp-controller="FoodIntake" asp-action="MyRecords"> <font class="hover-text" color="White">My Records</font></a>
        </li>


        <li class="nav-item hover-text">
            <a class="nav-link text-dark" asp-area="" asp-controller="FoodIntake" asp-action="FoodIntake"> <font class="hover-text" color="White">Food Intake</font></a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="notificationsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" color="White">
                Notifications <span class="badge badge-pill badge-danger">@ViewBag.NotificationCount</span>
            </a>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notificationsDropdown">
                <h6 class="dropdown-header">Alerts</h6>
                @if (!string.IsNullOrEmpty(ViewBag.FatMessage))
                {
                    <a class="dropdown-item" href="#">@ViewBag.FatMessage</a>
                }
                @if (!string.IsNullOrEmpty(ViewBag.CaloriesMessage))
                {
                    <a class="dropdown-item" href="#">@ViewBag.CaloriesMessage</a>
                }
                @if (!string.IsNullOrEmpty(ViewBag.ProteinMessage))
                {
                    <a class="dropdown-item" href="#">@ViewBag.ProteinMessage</a>
                }
                @if (string.IsNullOrEmpty(ViewBag.FatMessage) && string.IsNullOrEmpty(ViewBag.CaloriesMessage) && string.IsNullOrEmpty(ViewBag.ProteinMessage))
                {
                    <a class="dropdown-item" href="#">No new notifications</a>
                }
            </div>
        </li>

        <li class="nav-item" style="margin-left: 50px">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Admin"><font color="#FFFFFF">|</font> </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-light buttonsize">Logout</button>
            </form>
        </li>

    }
    else
    {
        <li class="nav-item hover-text">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Landing"><font class="hover-text" color="White"> Home</font> </a>
        </li>
        <li class="nav-item hover-text">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs"><font class="hover-text" color="White"> About Us</font> </a>
        </li>
        <li class="nav-item hover-text">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ContactUs"><font class="hover-text" color="White"> Contact Us</font> </a>
        </li>
        
        <li class="nav-item hover-text">
            <a class="nav-link text-light hover-text" asp-area="Identity" asp-page="/Account/Register"><font class="hover-text">Register</font></a>
        </li>
        <li class="nav-item hover-text">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login"><font class="hover-text">Login</font></a>
        </li>
    }
</ul>

<script>
    function openAdmin() {
        window.open("../adminpanel");
    }
</script>

<style>
    /* Dropdown button */
    .dropdown {
        align-content: center;
        border: solid;
        border-right-width: 25px;
        outline: none;
        color: #232323;
        background-color: #232323;
        font-size: 25px;
        font-family: inherit; /* Important for vertical align on mobile phones */
        margin: 0; /* Important for vertical align on mobile phones */
    }

    .hover-text {
        background-color: #232323; /* Initial color */
        transition: color 0.3s; /* Transition effect duration */
    }

        .hover-text:hover {
            color: #8DA242; /* Color on hover */
        }


    #nav {
        list-style: none inside;
        margin: 0;
        padding: 0;
        text-align: center;
    }


        #nav li {
            display: block;
            position: relative;
            float: left;
        }

            #nav li a {
                display: block;
                text-decoration: none;
                color: #8DA242;
                /* list item font color */
            }

            #nav li li a {
                font-size: 80%;
            }


        /* smaller font size for sub menu items */


        #nav ul {
            position: absolute;
            padding: 0;
            left: 0;
            display: none;
            /* hides sublists */
        }

        #nav li:hover ul ul {
            display: none;
        }


        /* hides sub-sublists */

        #nav li:hover ul {
            display: block;
        }


        /* shows sublist on hover */

        #nav li li:hover ul {
            display: block;
            /* shows sub-sublist on hover */
            margin-left: 200px;
            /* this should be the same width as the parent list item */
            margin-top: -35px;
            /* aligns top of sub menu with top of list item */
        }

</style>